.text-center{
    text-align: center;
}

.margin-bottom-s{ margin-bottom: 1.5rem;}
.margin-bottom-m{ margin-bottom: 4rem;}
.margin-bottom-l{ margin-bottom: 8rem;}


.margin-top-l{ margin-top: 8rem;}
.margin-top-huge{ margin-top: 10rem;}