.text-center{text-align: center !important;}

.margin-bottom-s{ margin-bottom: 1.5rem !important; }
.margin-bottom-m{ margin-bottom: 4rem !important; }
.margin-bottom-l{ margin-bottom: 8rem !important; }


.margin-top-l{ margin-top: 8rem !important; }
.margin-top-huge{ margin-top: 10rem !important; }